body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
    color:chartreuse;
 }
 
 ul li {
   background-color: #19ff2d;
   padding: 10px;
   width: 25%;
   border: 2px solid #a925ce;
   display: inline-block;
   width: 28%;
   border-radius: 30px;
}

 img {
   padding:11px;
   width:24%;
   border:2px solid #ddd;
   margin:0px;
   box-sizing: border-box;
 }
 
 p {
   background-color:bisque;
   text-decoration-line: underline;
 }